
body 
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    background-color:#777;
    padding:0;
    margin:0;
}

#page
{
    width: 1000px;
    position: relative;
    top: 0px;
    left: 50%;
    margin-left:-500px;
    padding:10px;
    color: #333333;
    background-color:#fff;
}

.buttons
{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row; 
    margin-top: 30px;
}

.button 
{
    color: #222;
    background-color: #999;
    border-radius:6px;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

#search_or_show
{
    position: absolute;
    top: 135px;
    right:20px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

#search_input
{
    margin-right: 10px;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
}

.add_new_post_button 
{
    position: absolute;
    left: 25px;
    top: 135px;
    width: 170px;
    text-align: center;
}

#blog-content
{
    margin-top: 150px;
}

.blog-title
{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.disabled 
{
    background-color: #dddddd;
    color: #777777;
}

.post 
{
    color: #333333;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 16px;
}

.post_text
{
    line-height: 1.4;
    padding: 20px;
}

.title 
{
    font-size: 18px;
    color: #FFF;
    background-color: #26589A;
    padding: 10px;
    min-height: 22px;
    border-radius:6px;
}

#pages 
{
    margin-top: 50px;
    margin-left:20px;
}

#posts
{

}